$body-bg: #f8fafc;

$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e45868;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

$main-blue: #6283e5;
$dark: #0A2F6529;
$dark-red: #68101A2E;
$dark-blue: #1A175D;
$dark-main-blue: rgba(98, 131, 229, 0.18);
$background-gradient: #ffffff;

$main-text-caption: #2B2B31;
$main-dark-blue-text: #0B3158;

$text-dark-blue: #2D297D;
$textWhite: #ffffff;
$spanRed: #E45868;

$bg-white: #ffffff;
$bg-red: #E45868;
$bg-green: #6FB77F;

$bg-dark-green: rgba(111, 183, 127, 0.18);
